@{
    ViewData["Title"] = "Home Page";
}

<div class="card" style="height:400px;width:400px">
    <div class="card Body">
        <h1>Welcome to Student Portal</h1>
        <h4><a href=@Url.Action("Index","Students")>Continue to Registration</a></h4>
    </div>
</div>
